

### Step 1. Import the necessary libraries

In [6]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset Euro_2012_stats_TEAM

### Step 3. Assign it to a variable called euro12.

In [7]:
euro12 = pd.read_csv("Euro_2012_stats_TEAM.csv")

### Step 4. Select only the Goal column.

In [8]:
euro12_df = pd.DataFrame(euro12, columns=['Goals'])
euro12_df

    Goals
0       4
1       4
2       4
3       5
4       3
5      10
6       5
7       6
8       2
9       2
10      6
11      1
12      5
13     12
14      5
15      2

### Step 5. How many team participated in the Euro2012?

In [12]:
print("Total number of teams in Euro 2012 :",len(euro12['Team']))

Total number of teams in Euro 2012 : 16

### Step 6. What is the number of columns in the dataset?

In [15]:
print("Total number of columns in the dataset :",len(euro12.columns))

Total number of columns in the dataset : 35

### Step 7. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline

In [16]:
discipline = pd.DataFrame(euro12, columns=['Team', 'Yellow Cards', 'Red Cards'])
discipline

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

### Step 8. Sort the teams by Red Cards, then to Yellow Cards

In [17]:
discipline.sort_values(by='Red Cards')

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
7                 Italy            16          0
8           Netherlands             5          0
10             Portugal            12          0
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0
6                Greece             9          1
9                Poland             7          1
11  Republic of Ireland             6          1

In [18]:
discipline.sort_values(by='Yellow Cards')

                   Team  Yellow Cards  Red Cards
2               Denmark             4          0
5               Germany             4          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
4                France             6          0
11  Republic of Ireland             6          1
12               Russia             6          0
1        Czech Republic             7          0
9                Poland             7          1
14               Sweden             7          0
0               Croatia             9          0
6                Greece             9          1
13                Spain            11          0
10             Portugal            12          0
7                 Italy            16          0

### Step 9. Calculate the mean Yellow Cards given per Team

In [19]:
mean = (discipline['Yellow Cards'].sum()/len(discipline['Team']))
mean

7.4375

### Step 10. Filter teams that scored more than 6 goals

In [20]:
euro12['Team'][euro12['Goals'] > 6]

5     Germany
13      Spain
Name: Team, dtype: object

### Step 11. Select the teams that start with G

In [21]:
teams = euro12['Team'].str.startswith('G', na = False)
euro12['Team'][teams]

5    Germany
6     Greece
Name: Team, dtype: object

### Step 12. Select the first 7 columns

In [22]:
euro12.iloc[:, :7]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked)
0,Croatia,4,13,12,51.90%,16.00%,32
1,Czech Republic,4,13,18,41.90%,12.90%,39
2,Denmark,4,10,10,50.00%,20.00%,27
3,England,5,11,18,50.00%,17.20%,40
4,France,3,22,24,37.90%,6.50%,65
5,Germany,10,32,32,47.80%,15.60%,80
6,Greece,5,8,18,30.70%,19.20%,32
7,Italy,6,34,45,43.00%,7.50%,110
8,Netherlands,2,12,36,25.00%,4.10%,60
9,Poland,2,15,23,39.40%,5.20%,48
10,Portugal,6,22,42,34.30%,9.30%,82
11,Republic of Ireland,1,7,12,36.80%,5.20%,28
12,Russia,5,9,31,22.50%,12.50%,59
13,Spain,12,42,33,55.90%,16.00%,100
14,Sweden,5,17,19,47.20%,13.80%,39
15,Ukraine,2,7,26,21.20%,6.00%,38

### Step 13. Select all columns except the last 3.

In [23]:
euro12.iloc[:, :-3]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Clean Sheets,Blocks,Goals conceded,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards
0,Croatia,4,13,12,51.90%,16.00%,32,0,0,0,...,0,10,3,13,81.30%,41,62,2,9,0
1,Czech Republic,4,13,18,41.90%,12.90%,39,0,0,0,...,1,10,6,9,60.10%,53,73,8,7,0
2,Denmark,4,10,10,50.00%,20.00%,27,1,0,0,...,1,10,5,10,66.70%,25,38,8,4,0
3,England,5,11,18,50.00%,17.20%,40,0,0,0,...,2,29,3,22,88.10%,43,45,6,5,0
4,France,3,22,24,37.90%,6.50%,65,1,0,0,...,1,7,5,6,54.60%,36,51,5,6,0
5,Germany,10,32,32,47.80%,15.60%,80,2,1,0,...,1,11,6,10,62.60%,63,49,12,4,0
6,Greece,5,8,18,30.70%,19.20%,32,1,1,1,...,1,23,7,13,65.10%,67,48,12,9,1
7,Italy,6,34,45,43.00%,7.50%,110,2,0,0,...,2,18,7,20,74.10%,101,89,16,16,0
8,Netherlands,2,12,36,25.00%,4.10%,60,2,0,0,...,0,9,5,12,70.60%,35,30,3,5,0
9,Poland,2,15,23,39.40%,5.20%,48,0,0,0,...,0,8,3,6,66.70%,48,56,3,7,1
10,Portugal,6,22,42,34.30%,9.30%,82,6,0,0,...,2,11,4,10,71.50%,73,90,10,12,0
11,Republic of Ireland,1,7,12,36.80%,5.20%,28,0,0,0,...,0,23,9,17,65.40%,43,51,11,6,1
12,Russia,5,9,31,22.50%,12.50%,59,2,0,0,...,0,8,3,10,77.00%,34,43,4,6,0
13,Spain,12,42,33,55.90%,16.00%,100,0,1,0,...,5,8,1,15,93.80%,102,83,19,11,0
14,Sweden,5,17,19,47.20%,13.80%,39,3,0,0,...,1,12,5,8,61.60%,35,51,7,7,0
15,Ukraine,2,7,26,21.20%,6.00%,38,0,0,0,...,0,4,4,13,76.50%,48,31,4,5,0

### Step 14. Present only the Shooting Accuracy from England, Italy and Russia

In [24]:
sh_acc = euro12[['Team', 'Shooting Accuracy']]
sh_acc.loc[(sh_acc.Team == 'England') | (sh_acc.Team == 'Italy') | (sh_acc.Team == 'Russia')]

       Team Shooting Accuracy
3   England            50.00%
7     Italy            43.00%
12   Russia            22.50%

### Step 15. Use apply method on Goal Column to make a new column called Performance, using following conditions

1. If Goals are less than or equal to 2, peformance is **Below Avg**
2. If Goals are more than 2 and less than or equal to 5, peformance is **Average**
3. If Goals are more than 5 and less than or equal to 10, peformance is **Above Average**
4. If Goals are more than 10 then peformance is **Excellent**

In [25]:
goal = euro12['Goals']

def perf(num):
    if num <= 2:
        return "Below Average"
    elif num > 2 and num <= 5:
        return "Average"
    elif num > 5 and num <= 10:
        return "Above Average"
    elif num > 10:
        return "Excellent"
    

performance = goal.apply(perf)
euro12["Performance"] = performance

In [26]:
euro12

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used,Performance
0,Croatia,4,13,12,51.90%,16.00%,32,0,0,0,...,81.30%,41,62,2,9,0,9,9,16,Average
1,Czech Republic,4,13,18,41.90%,12.90%,39,0,0,0,...,60.10%,53,73,8,7,0,11,11,19,Average
2,Denmark,4,10,10,50.00%,20.00%,27,1,0,0,...,66.70%,25,38,8,4,0,7,7,15,Average
3,England,5,11,18,50.00%,17.20%,40,0,0,0,...,88.10%,43,45,6,5,0,11,11,16,Average
4,France,3,22,24,37.90%,6.50%,65,1,0,0,...,54.60%,36,51,5,6,0,11,11,19,Average
5,Germany,10,32,32,47.80%,15.60%,80,2,1,0,...,62.60%,63,49,12,4,0,15,15,17,Above Average
6,Greece,5,8,18,30.70%,19.20%,32,1,1,1,...,65.10%,67,48,12,9,1,12,12,20,Average
7,Italy,6,34,45,43.00%,7.50%,110,2,0,0,...,74.10%,101,89,16,16,0,18,18,19,Above Average
8,Netherlands,2,12,36,25.00%,4.10%,60,2,0,0,...,70.60%,35,30,3,5,0,7,7,15,Below Average
9,Poland,2,15,23,39.40%,5.20%,48,0,0,0,...,66.70%,48,56,3,7,1,7,7,17,Below Average
10,Portugal,6,22,42,34.30%,9.30%,82,6,0,0,...,71.50%,73,90,10,12,0,14,14,16,Above Average
11,Republic of Ireland,1,7,12,36.80%,5.20%,28,0,0,0,...,65.40%,43,51,11,6,1,10,10,17,Below Average
12,Russia,5,9,31,22.50%,12.50%,59,2,0,0,...,77.00%,34,43,4,6,0,7,7,16,Average
13,Spain,12,42,33,55.90%,16.00%,100,0,1,0,...,93.80%,102,83,19,11,0,17,17,18,Excellent
14,Sweden,5,17,19,47.20%,13.80%,39,3,0,0,...,61.60%,35,51,7,7,0,9,9,18,Average
15,Ukraine,2,7,26,21.20%,6.00%,38,0,0,0,...,76.50%,48,31,4,5,0,9,9,18,Below Average